<!DOCTYPE html>
<html lang="pt_BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
    <th:block layout:fragment="content">
        <div class="col-xs-12 col-md-12">
            <a th:href="@{/roles/new}" class="btn btn-success">Create</a>
        </div>
        <div class="col-xs-12 col-md-12">
            <h5 class="mt-4 mb-4">Listing roles</h5>
            <table class="table table bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Role name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="role : ${list}">
                    <td th:text="${role.id}">1</td>
                    <td th:text="${role.name}">Admin</td>
                    <td>
                        <form th:method="delete" th:action="@{/roles/{id}(id=${role.id})}">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>
</html>
