<!DOCTYPE html>
<html lang="pt_BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<th:block layout:fragment="content">
    <div class="col-xs-12 col-md-12">
        <a th:href="@{/users/new}" class="btn btn-success">Create</a>
    </div>
    <div class="col-xs-12 col-md-12">
        <h5 class="mt-4 mb-4">Listing users</h5>
        <table class="table table bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>User name</th>
                <th>Last name</th>
                <th>E-mail</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${list}">
                <td th:text="${user.id}">1</td>
                <td th:text="${user.name}">Admin</td>
                <td th:text="${user.lastName}">da Silva</td>
                <td th:text="${user.email}">admin@admin.com</td>
                <td th:text="${user.active}">Sim</td>
                <td>
                    <form th:method="delete" th:action="@{/users/{id}(id=${user.id})}">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
</html>
